<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://orchestrationtriggerswitch20240419230115.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f73d10d6-3365-42ab-8f10-3a5236bebd80/resourceGroups/TestDurable/providers/Microsoft.Web/sites/OrchestrationTriggerSwitch20240419230115</ResourceId>
    <UserName>$OrchestrationTriggerSwitch20240419230115</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://orchestrationtriggerswitch20240419230115.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>